# Data Pre-Processing

In this notebook I have done the preprocessing of the various data sets needed to complete the classification problem:- Calsasifing sentenves into Emotion statement, News Statement, Greeting/Conversation statement or Review.

Also We have created a new csv files  of the processed data so as to reduce redundancy.
All the files are attached with the folder.
We have added a column called intent_ovr which give the overall Intent of the satatements.

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

### Pre Processing for Conversation/greeting Data set -Convo

In [ ]:
import json

basic_corpus = open("conversations.json")

basic_corpus_json = json.load(basic_corpus)
basic_content = basic_corpus_json['sentences']

basic_df = pd.json_normalize(basic_content)

df = basic_df[['text','intent']]
df

                     text      intent
0                     yes     yesNode
1                 oh yeah     yesNode
2                 alright     yesNode
3              absolutely     yesNode
4           oh absolutely     yesNode
...                   ...         ...
1314       are you asleep  stillThere
1315  have you turned off  stillThere
1316     have you stopped  stillThere
1317         did you stop  stillThere
1318         did you quit  stillThere

[1319 rows x 2 columns]

In [ ]:
# adding column with constant value
# adding column with constant value
df['intent_ovr'] = pd.Series(["convo"for x in range(len(df.index))])
df

                     text      intent intent_ovr
0                     yes     yesNode      convo
1                 oh yeah     yesNode      convo
2                 alright     yesNode      convo
3              absolutely     yesNode      convo
4           oh absolutely     yesNode      convo
...                   ...         ...        ...
1314       are you asleep  stillThere      convo
1315  have you turned off  stillThere      convo
1316     have you stopped  stillThere      convo
1317         did you stop  stillThere      convo
1318         did you quit  stillThere      convo

[1319 rows x 3 columns]

In [ ]:

# saving the dataframe
df.to_csv('convo_intent.csv')

In [ ]:
# df=df.drop(['intent'], axis=1)

In [ ]:
df

                     text intent_ovr
0                     yes      convo
1                 oh yeah      convo
2                 alright      convo
3              absolutely      convo
4           oh absolutely      convo
...                   ...        ...
1314       are you asleep      convo
1315  have you turned off      convo
1316     have you stopped      convo
1317         did you stop      convo
1318         did you quit      convo

[1319 rows x 2 columns]

### Pre Processing for Review(movie) Data set -review

In [ ]:
# Data.tsv is stored locally in the
# same directory as of this python file
df1 = pd.read_csv('train.tsv',sep = '\t')

df1.shape

(156060, 4)

In [ ]:
# df

In [ ]:

df1=df1.drop(['PhraseId','SentenceId'], axis=1)

In [ ]:
df1.rename(columns = {'Phrase':'text'}, inplace = True)

# adding column with constant value
df1['intent_ovr'] = pd.Series(["review"for x in range(len(df1.index))])
df1.tail()
# saving the dataframe
df1.to_csv('review_intent.csv')

In [ ]:
df1.tail()

                             text  Sentiment intent_ovr
156055                  Hearst 's          2     review
156056  forced avuncular chortles          1     review
156057         avuncular chortles          3     review
156058                  avuncular          2     review
156059                   chortles          2     review

In [ ]:
# df1=df1.drop(['Sentiment'], axis=1)

In [ ]:
# Quick Two Line Codes
ctr_3=0
i=1
text2=[]
for s in df1['text']:
    # print("text: ",s)
    countOfWords = len(s.split())
    
    if ((countOfWords>=3) and (countOfWords<=12)):
        # print(" here :", countOfWords," text: ", s )
        # df1_cpy=df1.drop([s],inplace = True)
        text2.append(s)
    i=i+1

In [ ]:
df1= pd.DataFrame(text2)
df1.columns=['text']
df1=df1.sample(7000)

In [ ]:

# adding column with constant value
df1['intent_ovr'] = pd.Series(["review"for x in range(len(df1.index))])
df1.tail()
# saving the dataframe
df1.to_csv('review_intent.csv')

In [ ]:
df1

                                                     text intent_ovr
0       A series of escapades demonstrating the adage ...     review
1       A series of escapades demonstrating the adage ...     review
2                                                A series     review
3                                                       A     review
4                                                  series     review
...                                                   ...        ...
156055                                          Hearst 's     review
156056                          forced avuncular chortles     review
156057                                 avuncular chortles     review
156058                                          avuncular     review
156059                                           chortles     review

[156060 rows x 2 columns]

### Pre Processing for Emotion Data set -emotion

In [ ]:
# read text file into pandas DataFrame
df2 = pd.read_csv("train.txt", sep=";" ,header=None, names=["text", "emotion"])

In [ ]:
df2

                                                    text  emotion
0                                i didnt feel humiliated  sadness
1      i can go from feeling so hopeless to so damned...  sadness
2       im grabbing a minute to post i feel greedy wrong    anger
3      i am ever feeling nostalgic about the fireplac...     love
4                                   i am feeling grouchy    anger
...                                                  ...      ...
15995  i just had a very brief time in the beanbag an...  sadness
15996  i am now turning and i feel pathetic that i am...  sadness
15997                     i feel strong and good overall      joy
15998  i feel like this was such a rude comment and i...    anger
15999  i know a lot but i feel so stupid because i ca...  sadness

[16000 rows x 2 columns]

In [ ]:
# adding column with constant value
df2['intent_ovr'] = pd.Series(["emotion"for x in range(len(df2.index))])
df2

                                                    text  emotion intent_ovr
0                                i didnt feel humiliated  sadness    emotion
1      i can go from feeling so hopeless to so damned...  sadness    emotion
2       im grabbing a minute to post i feel greedy wrong    anger    emotion
3      i am ever feeling nostalgic about the fireplac...     love    emotion
4                                   i am feeling grouchy    anger    emotion
...                                                  ...      ...        ...
15995  i just had a very brief time in the beanbag an...  sadness    emotion
15996  i am now turning and i feel pathetic that i am...  sadness    emotion
15997                     i feel strong and good overall      joy    emotion
15998  i feel like this was such a rude comment and i...    anger    emotion
15999  i know a lot but i feel so stupid because i ca...  sadness    emotion

[16000 rows x 3 columns]

In [ ]:
# saving the dataframe
df2.to_csv('emotion_intent.csv')

In [ ]:
df2=df2.drop(['emotion'], axis=1)

In [ ]:
df2.tail(10)

                                                    text intent_ovr
15990  i feel really glad that i dont look like the c...    emotion
15991  i have wanted to perhaps convey my feelings of...    emotion
15992  i moved away he said something that made me fe...    emotion
15993  i most days feel like if braeden and calvin ar...    emotion
15994      i feel so sympathetic empathetic towards them    emotion
15995  i just had a very brief time in the beanbag an...    emotion
15996  i am now turning and i feel pathetic that i am...    emotion
15997                     i feel strong and good overall    emotion
15998  i feel like this was such a rude comment and i...    emotion
15999  i know a lot but i feel so stupid because i ca...    emotion

### Pre Processing for News Statement(Fake and Real) Data set -facts

In [ ]:
# read text file into pandas DataFrame
df3 = pd.read_csv("True.csv")
df3

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [ ]:
# df3=df3.drop(['text','date'], axis=1)

In [ ]:
df3.rename(columns = {'title':'text'}, inplace = True)

# adding column with constant value
df3['intent_ovr'] = pd.Series(["facts"for x in range(len(df3.index))])
df3
# saving the dataframe
# df3.to_csv('facts_intent.csv')

,text,subject,intent_ovr
0,"As U.S. budget fight looms, Republicans flip t...",politicsNews,facts
1,U.S. military to accept transgender recruits o...,politicsNews,facts
2,Senior U.S. Republican senator: 'Let Mr. Muell...,politicsNews,facts
3,FBI Russia probe helped by Australian diplomat...,politicsNews,facts
4,Trump wants Postal Service to charge 'much mor...,politicsNews,facts
...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,worldnews,facts
21413,LexisNexis withdrew two products from Chinese ...,worldnews,facts
21414,Minsk cultural hub becomes haven from authorities,worldnews,facts
21415,Vatican upbeat on possibility of Pope Francis ...,worldnews,facts
21416,Indonesia to buy $1.14 billion worth of Russia...,worldnews,facts

In [ ]:
# saving the dataframe
df3.to_csv('facts_intent.csv')

In [ ]:
# df3=df3.drop(['subject'], axis=1)
# # splitting dataframe by row index
# df_1 = df3.iloc[:10000,:]
# df_2 = df3.iloc[10000:,:]
# print("Shape of new dataframes - {} , {}".format(df_1.shape, df_2.shape))

In [ ]:
df3

                                                    text intent_ovr
0      As U.S. budget fight looms, Republicans flip t...      facts
1      U.S. military to accept transgender recruits o...      facts
2      Senior U.S. Republican senator: 'Let Mr. Muell...      facts
3      FBI Russia probe helped by Australian diplomat...      facts
4      Trump wants Postal Service to charge 'much mor...      facts
...                                                  ...        ...
21412  'Fully committed' NATO backs new U.S. approach...      facts
21413  LexisNexis withdrew two products from Chinese ...      facts
21414  Minsk cultural hub becomes haven from authorities      facts
21415  Vatican upbeat on possibility of Pope Francis ...      facts
21416  Indonesia to buy $1.14 billion worth of Russia...      facts

[21417 rows x 2 columns]

In [ ]:
# read text file into pandas DataFrame
df4 = pd.read_csv("Fake.csv")
df4

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [ ]:
df4=df4.drop(['text','date'], axis=1)

In [ ]:
df4.rename(columns = {'title':'text'}, inplace = True)

# adding column with constant value
df4['intent_ovr'] = pd.Series(["facts"for x in range(len(df4.index))])
df4


# saving the dataframe
df4.to_csv('facts2_intent.csv')

In [ ]:
df4=df4.drop(['subject'], axis=1)

In [ ]:
df4=df4.sample(7500)
df4
# # splitting dataframe by row index
# df_f = df4.iloc[:10000,:]
# df_f2 = df4.iloc[10000:,:]
# print("Shape of new dataframes - {} , {}".format(df_f.shape, df_f2.shape))

                                                    text intent_ovr
0       Donald Trump Sends Out Embarrassing New Year’...      facts
1       Drunk Bragging Trump Staffer Started Russian ...      facts
2       Sheriff David Clarke Becomes An Internet Joke...      facts
3       Trump Is So Obsessed He Even Has Obama’s Name...      facts
4       Pope Francis Just Called Out Donald Trump Dur...      facts
...                                                  ...        ...
23476  McPain: John McCain Furious That Iran Treated ...      facts
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...      facts
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...      facts
23479  How to Blow $700 Million: Al Jazeera America F...      facts
23480  10 U.S. Navy Sailors Held by Iranian Military ...      facts

[23481 rows x 2 columns]

In [ ]:

frames = [df, df1, df2,df3,df4]
  
result = pd.concat(frames)
result.shape

(218277, 2)

In [ ]:
result.to_csv('data_project.csv')

Text Preprocessing

In [ ]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string
pd.options.mode.chained_assignment = None

full_df = pd.read_csv("data_project.csv")
# full_df.head()
full_df.tail(1000)

,Unnamed: 0,text,intent_ovr
217277,22481,No Longer a Fantasy: Could Hillary Clinton Act...,facts
217278,22482,‘Is Donald Trump Really the Answer?’,facts
217279,22483,Tyranny Of 9/11: The Building Blocks Of The Am...,facts
217280,22484,SUNDAY SCREENING: National Security Alert: The...,facts
217281,22485,Episode #152 – SUNDAY WIRE: ‘From Ground Zero ...,facts
...,...,...,...
218272,23476,McPain: John McCain Furious That Iran Treated ...,facts
218273,23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,facts
218274,23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,facts
218275,23479,How to Blow $700 Million: Al Jazeera America F...,facts
218276,23480,10 U.S. Navy Sailors Held by Iranian Military ...,facts

In [ ]:
df = full_df
df["text"] = df["text"].astype(str)
full_df.head()

   Unnamed: 0           text intent_ovr
0           0            yes      convo
1           1        oh yeah      convo
2           2        alright      convo
3           3     absolutely      convo
4           4  oh absolutely      convo

In [ ]:
df["text"] = df["text"].str.lower()
df.sample(15)

,Unnamed: 0,text,intent_ovr
33437,32118,mr. audiard 's direction,review
62611,61292,you 'd have to be a most hard-hearted person n...,review
203240,8444,watch: ted cruz lies straight to the camera a...,facts
103830,102511,'s attracting audiences to unfaithful,review
130275,128956,larger picture,review
128534,127215,for self-deprecating comedy,review
160557,3178,i am feeling remotely dignified tasteful or co...,emotion
96,96,oh yes i would sometimes,convo
102889,101570,the camera whirls !,review
163199,5820,i want or need to hear to make me feel valued,emotion
29842,28523,the star who helped give a spark to `` chasing...,review
197762,2966,whoopi goldberg furious over trump’s john lew...,facts
119504,118185,"george clooney , in his first directorial effo...",review
29066,27747,works even,review
43574,42255,"with laptops , cell phones and sketchy busines...",review

In [ ]:
# # drop the new column created in last cell
# df.drop(["text_lower"], axis=1, inplace=True)

PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["text_wo_punct"] = df["text"].apply(lambda text: remove_punctuation(text))
df.sample(10)

,Unnamed: 0,text,intent_ovr,text_wo_punct
190275,16896,"turkey to allow muftis to conduct weddings, sp...",facts,turkey to allow muftis to conduct weddings spa...
42662,41343,the story compels,review,the story compels
124749,123430,connection or identification frustratingly,review,connection or identification frustratingly
167829,10450,i took the step to start this blog i feel as t...,emotion,i took the step to start this blog i feel as t...
102441,101122,"rhetoric , which are included",review,rhetoric which are included
41362,40043,a telescope,review,a telescope
207174,12378,oh look! new yorkers don’t hate trump as much ...,facts,oh look new yorkers don’t hate trump as much a...
172540,15161,i feel anxious and worry just in case i dont u...,emotion,i feel anxious and worry just in case i dont u...
83883,82564,severe case,review,severe case
204365,9569,republicans call for answers: did wasserman-sc...,facts,republicans call for answers did wassermanschu...

In [ ]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["text_wo_stop"] = df["text_wo_punct"].apply(lambda text: remove_stopwords(text))
df.sample(10)

,Unnamed: 0,text,intent_ovr,text_wo_punct,text_wo_stop
40951,39632,"is , by itself",review,is by itself,
96046,94727,young leads,review,young leads,young leads
4946,3627,new wounds,review,new wounds,new wounds
146723,145404,clooney 's -rrb- debut can be accused of being...,review,clooney s rrb debut can be accused of being a ...,clooney rrb debut accused bit undisciplined
202432,7636,colin powell bashes gop candidates for ‘belit...,facts,colin powell bashes gop candidates for ‘belit...,colin powell bashes gop candidates ‘belittling...
172723,15344,i feel more confident already a href http john...,emotion,i feel more confident already a href http john...,feel confident already href http johnnykaje
153297,151978,their consistently sensitive and often excitin...,review,their consistently sensitive and often excitin...,consistently sensitive often exciting treatment
132621,131302,tear their eyes,review,tear their eyes,tear eyes
109687,108368,the last kiss will probably never achieve the ...,review,the last kiss will probably never achieve the ...,last kiss probably never achieve popularity bi...
29967,28648,strong and unforced,review,strong and unforced,strong unforced

frequent words removal

In [ ]:
from collections import Counter
cnt = Counter()
for text in df["text_wo_stop"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

In [ ]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    """custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["text_wo_stopfreq"] = df["text_wo_stop"].apply(lambda text: remove_freqwords(text))
df.head()

Lemetization

In [ ]:
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}
def lemmatize_words(text):
    pos_tagged_text = nltk.pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

df["text_lemmatized"] = df["text_wo_stop"].apply(lambda text: lemmatize_words(text))
df.head()

,Unnamed: 0,text,intent_ovr,text_wo_punct,text_wo_stop,text_lemmatized
0,0,yes,convo,yes,yes,yes
1,1,oh yeah,convo,oh yeah,oh yeah,oh yeah
2,2,alright,convo,alright,alright,alright
3,3,absolutely,convo,absolutely,absolutely,absolutely
4,4,oh absolutely,convo,oh absolutely,oh absolutely,oh absolutely

In [ ]:
df.sample(10)

,Unnamed: 0,text,intent_ovr,text_wo_punct,text_wo_stop,text_lemmatized
122712,121393,`` the good girl '' a film worth watching,review,the good girl a film worth watching,good girl film worth watching,good girl film worth watch
13364,12045,humanist,review,humanist,humanist,humanist
30570,29251,-- to its own detriment --,review,to its own detriment,detriment,detriment
72024,70705,a lot less time trying to make a credible case...,review,a lot less time trying to make a credible case...,lot less time trying make credible case report...,lot less time try make credible case report af...
162898,5519,i feel useless and gross and cant seem to find...,emotion,i feel useless and gross and cant seem to find...,feel useless gross cant seem find one positive...,feel useless gross cant seem find one positive...
189678,16299,"putin, as part of test, oversees launch of fou...",facts,putin as part of test oversees launch of four ...,putin part test oversees launch four nuclearca...,putin part test oversee launch four nuclearcap...
17750,16431,a ride,review,a ride,ride,ride
21652,20333,roberts ',review,roberts,roberts,robert
109417,108098,has become commonplace in movies that explore ...,review,has become commonplace in movies that explore ...,become commonplace movies explore seamy underb...,become commonplace movie explore seamy underbe...
213264,18468,huh? nyt editor blames “republican rage machin...,facts,huh nyt editor blames “republican rage machine...,huh nyt editor blames “republican rage machine...,huh nyt editor blame “republican rage machine”...

In [ ]:
df.to_csv('data_project_processed.csv')